{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <title>Button</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> Button </h2>

            <!-- Login Form -->
            <form action="form1">
                <input type="submit" class="first" value="Go to Registration Form">
            </form>
            <br>
        </div>
        
    </div>

</body>
</html>